.tbldef {
    border-collapse: separate;
    border-spacing: 1px;
    font-family: sans-serif, arial;
    font-size: 16px;
    position: relative;
    text-align: center;
}
.tbldef tbody tr:nth-child(even) { background-color: white }
.tbldef tbody tr:nth-child(odd) { background-color: whitesmoke }
.tbldef tbody tr:hover { background-color: lightsteelblue }
.tbldef td {
    cursor: pointer;
    vertical-align: middle;
}
.tbldef th {
    background-color: rgb(156,156,156);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(66, 66, 66);
    font-weight: bold;
    text-shadow: rgb(196, 196, 196) 0px 1px 1px;
}
.tbldef th,
.tbldef td {
    padding: 5px;
    white-space: nowrap;
}
.tbldef td:hover { }
.tbldef td input {
    background-color: white;
    border: 0;
    color: black;
    font-size: 16px;
    height: 100%;
    outline: solid thin orange;
    padding: 2px;
    text-align: center;
    width: 100%;
}
.outertbl {
    -khtml-user-select: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 3px 3px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 3px 3px;
    -webkit-user-select: none;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
    background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background: -ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
    background-color: #3d94f6;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 3px 3px;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    font-size: 16px;
    font-family: sans-serif, arial;
    margin: 10px;
    outline: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    user-select: none;
}
.tblwrp {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    min-width: 500px;
    width: 1000px;
}
.hdwrp {
    background-color: whitesmoke;
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 100%;
}
.bdwrp {
    background-color: whitesmoke;
    display: inline-block;
    float: left;
    height: 300px;
    min-height: 75px;
    overflow: auto;
    width: 100%;
}
.resize {
    bottom: 0;
    cursor: nw-resize;
    filter: Alpha(Opacity=30);
    height: 15px;
    margin: 2px;
    opacity: 0.3;
    position: absolute;
    right: 0;
}
.down {
    bottom: 0;
    cursor: pointer;
    filter: Alpha(Opacity=30);
    height: 15px;
    left: 18px;
    margin: 2px;
    opacity: 0.3;
    position: absolute;
}
.up {
    bottom: 0;
    cursor: pointer;
    filter: Alpha(Opacity=30);
    height: 15px;
    left: 36px;
    margin: 2px;
    opacity: 0.3;
    position: absolute;
}
.option {
    bottom: 0;
    cursor: pointer;
    filter: Alpha(Opacity=30);
    height: 15px;
    left: 0;
    margin: 2px;
    opacity: 0.3;
    position: absolute;
}
.download {
    bottom: 0;
    cursor: pointer;
    filter: Alpha(Opacity=30);
    height: 15px;
    left: 54px;
    margin: 2px;
    opacity: 0.3;
    position: absolute;
}
.consol {
    -moz-box-shadow: rgba(92, 92, 92, 0.270588) 0px 0px 4px 4px;
    -webkit-box-shadow: rgba(92, 92, 92, 0.270588) 0px 0px 4px 4px;
    background-color: rgb(71, 131, 181);
    background-color: rgba(71, 131, 181, 0.901961);
    border: 2px solid rgb(99, 185, 255);
    bottom: 0px;
    box-shadow: rgba(92, 92, 92, 0.270588) 0px 0px 4px 4px;
    color: rgb(66, 66, 66);
    display: none;
    font-size: 16px;
    font-weight: bold;
    left: 0px;
    margin: auto;
    min-height: 120px;
    height: 120px;
    min-width: 500px;
    padding: 1%;
    position: absolute;
    right: 0px;
    text-shadow: rgb(196, 196, 196) 0px 1px 1px;
    top: 0px;
    width: 50%;
}
.resize:hover,
.option:hover,
.down:hover,
.up:hover,
.download:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.loaderDiv {
    -moz-border-radius: 8px;
    -moz-box-shadow: rgb(117, 117, 117) 2px 3px 5px 0px inset;
    -webkit-border-radius: 8px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    box-shadow: rgb(117, 117, 117) 2px 3px 5px 0px inset;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    width: 400px;
}
.loaderDiv .bar {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
    background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background: -ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
    background-color: #3d94f6;
    border-color: rgb(120, 120, 120);
    border-style: solid;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    height: 100%;
    position: absolute;
    width: 0;
}
.loaderDiv a {
    color: black;
    left: 0;
    position: absolute;
    right: 0;
    padding: 3px;
    z-index: 2;
}
.pass {
    -moz-box-shadow: rgba(66, 66, 66, 0.760784) 1px 2px 2px 2px;
    -webkit-box-shadow: rgba(66, 66, 66, 0.760784) 1px 2px 2px 2px;
    background-color: rgb(124, 120, 255);
    border-color: rgb(255, 0, 0);
    border-style: ridge;
    border-width: 5px;
    bottom: 0;
    box-shadow: rgba(66, 66, 66, 0.760784) 1px 2px 2px 2px;
    color: rgb(255, 255, 255);
    display: none;
    height: 32px;
    left: 0;
    margin: auto;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.cButton {
    -moz-border-radius: 0px;
    -moz-box-shadow: inset 1px 1px 0px 0px #97c4fe;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: inset 1px 1px 0px 0px #97c4fe;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
    background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background: -ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
    background-color: #3d94f6;
    border: 1px solid #337fed;
    border-radius: 0px;
    box-shadow: inset 1px 1px 0px 0px #97c4fe;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    font-family: Arial;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #1570cd;
}
.cButton:active {
    position: relative;
    top: 1px;
}
.cButton:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
    background: -moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
    background: -ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
    background-color: #1e62d0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
}
.sel {
    background-color: steelblue !important;
    overflow: hidden;
}
.sel td { overflow: hidden }
.hide { display: none }